[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@gh-tmclaugh:tmclaugh/puppetlabs-stdlib.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = git@github.com:tmclaugh/puppet-sudo.git
[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:tmclaugh/puppet-apache.git
