[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@gh-tmclaugh:tmclaugh/puppetlabs-stdlib.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = git@github.com:tmclaugh/puppet-sudo.git
[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:tmclaugh/puppet-apache.git
[submodule "modules/krb5"]
	path = modules/krb5
	url = git@github.com:tmclaugh/puppet-krb5.git
[submodule "modules/nscd"]
	path = modules/nscd
	url = git@github.com:tmclaugh/puppet-nscd.git
[submodule "modules/nslcd"]
	path = modules/nslcd
	url = git@github.com:tmclaugh/puppet-nslcd.git
[submodule "modules/nss_ldap"]
	path = modules/nss_ldap
	url = git@github.com:tmclaugh/puppet-nss_ldap.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git@github.com:tmclaugh/puppet-ntp.git
[submodule "modules/postfix"]
	path = modules/postfix
	url = git@github.com:tmclaugh/puppet-postfix.git
[submodule "modules/samba"]
	path = modules/samba
	url = git@github.com:tmclaugh/puppet-samba.git
[submodule "modules/sendmail"]
	path = modules/sendmail
	url = git@github.com:tmclaugh/puppet-sendmail.git
[submodule "modules/snmp"]
	path = modules/snmp
	url = git@github.com:tmclaugh/puppet-snmp.git
[submodule "modules/spacewalk"]
	path = modules/spacewalk
	url = git@github.com:tmclaugh/puppet-spacewalk.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:tmclaugh/puppet-ssh.git
[submodule "modules/svn"]
	path = modules/svn
	url = git@github.com:tmclaugh/puppet-svn.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = git@github.com:tmclaugh/puppet-puppet.git
